@charset "UTF-8";
/* CSS Document */
body {font-size: 14px;font-family:"微软雅黑", "黑体", "SimSun", Arial;font-weight: normal;text-transform: none;text-decoration: none;background-color: #ffffff;margin: 0px;padding:0px;border: 0px;}
ul{ padding:0px; margin:0px;letter-spacing: -5px;}
li{ display:inline-block;letter-spacing: normal;}
.tac{text-align: center;}
.tar{text-align: right;}
.pr{position: relative;}
.pa{position: absolute;}
.dpn{display: none;}
.dpib{display: block;}
.cp{cursor: pointer;}
.z1{z-index: 1;}
.z2{z-index: 10;}

.bgf9f9f9{background: #f9f9f9;}
.bg4e96f4{background: #4e96f4;}
.bgdddddd{background: #dddddd;}
.bgffffff{background: #ffffff;}
.bgdfdfdf{background: #dfdfdf;}

.m0auto{margin: 0px auto;}
.mt64{margin-top: 64px;}
.ma20{margin: 20px;}
.m1020{margin: 10px 20px;}

.pa55{padding: 55px;}
.pa20{padding: 20px;}

.bbcccccc{border: none;border-bottom: 1px solid #cccccc;}
.bb4e96f4{border: none;border-bottom: 1px solid #4e96f4;}
.bae5e5e5{border: 1px solid #e5e5e5;}
.btble5e5e5{border: 1px solid #e5e5e5;border-right: none;}
.btbre5e5e5{border: 1px solid #e5e5e5;border-left: none;}
.btbe5e5e5{border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.banone{border: none;}

.br5{border-radius: 5px;}

.w100{width: 100%;}
.w80{width: 80px;}
.w155{width: 155px;}
.w400{width: 400px;}
.w630{width: 630px;}
.w690{width: 690px;}

.h1{height: 1px;}
.h40{height: 40px;}
.h30{height: 30px;}
.h80{height: 80px;}

.z20ff0000{font-size: 20px; color: #ff0000;text-decoration: none; line-height: 170%;}
.z20ff0000 a{color: #ff0000; text-decoration: none;}
.z20ffffff{font-size: 20px; color: #ffffff;text-decoration: none; line-height: 170%;}
.z20ffffff a{color: #ffffff; text-decoration: none;}
.z207a7a7a{font-size: 20px; color: #7a7a7a;text-decoration: none; line-height: 170%;}
.z207a7a7a a{color: #7a7a7a; text-decoration: none;}
.z204e96f4{font-size: 20px; color: #4e96f4;text-decoration: none; line-height: 170%;}
.z204e96f4 a{color: #4e96f4; text-decoration: none;}
.z16636363{font-size: 16px; color: #636363;text-decoration: none; line-height: 170%;}
.z16636363 a{color: #636363; text-decoration: none;}
.z165d5d5d{font-size: 16px; color: #5d5d5d;text-decoration: none; line-height: 170%;}
.z165d5d5d a{color: #5d5d5d; text-decoration: none;}
.z14b4b4b4{font-size: 14px; color: #b4b4b4;text-decoration: none; line-height: 170%;}
.z14b4b4b4 a{color: #b4b4b4; text-decoration: none;}
.z14666666{font-size: 14px; color: #666666;text-decoration: none; line-height: 170%;}
.z14666666 a{color: #666666; text-decoration: none;}
.z14b9b9b9{font-size: 14px; color: #b9b9b9;text-decoration: none; line-height: 170%;}
.z14b9b9b9 a{color: #b9b9b9; text-decoration: none;}
.z144e96f4{font-size: 14px; color: #4e96f4;text-decoration: none; line-height: 170%;}
.z144e96f4 a{color: #4e96f4; text-decoration: none;}
.z14757575{font-size: 14px; color: #757575;text-decoration: none; line-height: 170%;}
.z14757575 a{color: #757575; text-decoration: none;}
.z124e96f4{font-size: 12px; color: #4e96f4;text-decoration: none; line-height: 170%;}
.z124e96f4 a{color: #4e96f4; text-decoration: none;}
.z128d8d8d{font-size: 12px; color: #8d8d8d;text-decoration: none; line-height: 170%;}
.z128d8d8d a{color: #8d8d8d; text-decoration: none;}
.z14ffffff{font-size: 14px; color: #ffffff;text-decoration: none; line-height: 170%;}
.z14ffffff a{color: #ffffff; text-decoration: none;}

.spanline{display: inline-block;background: #bcbcbc;height: 25px;width: 1px;}
.spanlinee5e5e5{display: inline-block;background: #e5e5e5;height: 25px;width: 1px;margin-top: 5px;}
.spanround{display: inline-block;width: 50px; height: 50px; border-radius: 25px;line-height: 50px;}

.ptb50{padding: 50px 0px;}

.wzt0l5040{top: 0px; left: 50%; margin-left: -40px;}
.wzt0l0{top: 0px; left: 0px;}

.k_1{background: #fff;-moz-box-shadow: 0 0 15px 1px rgba(55,100,136,0.3);-webkit-box-shadow: 0 0 15px 1px rgba(55,100,136,0.3);box-shadow: 0 0 15px 1px rgba(55,100,136,0.3);}
.inp_1{border: none;}

.img_div{min-height: 0px; min-width: 0px; float:left; margin-right:10px;}
.isImg{width: 80px; height: 80px; position: relative; float: left; margin-right: 10px; margin-bottom: 10px;}
.isImg img{width: 80px; height: 80px;border:1px solid #dcdcdc; }
.removeBtn{position: absolute; top: 0; right: 0; z-index: 11; border: 0px; border-radius: 11px; background: red; width: 22px; height: 22px; color: white;}

